.faq{
    margin-bottom: 100px;
}

.faq_title{
    font-size: 48px;
    line-height: 59px;
    font-style: normal;
    font-weight: normal;

    margin-bottom: 42px;
}

.faq_list_item{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    padding-top: 40px;
    padding-bottom: 38px;

    border-top: 1px solid #CACACA;

    background-repeat: no-repeat;
    background-image: url(../img/+х.svg);
    background-position: right center;
    cursor: pointer;
}

.faq_list_item:hover{
    color:var(--color-gold);
    border-top: 1px solid var(--color-gold);
    border-bottom: 1px solid var(--color-gold);
}

.faq_list_item:focus{
    color:var(--color-gold);
    border-top: 1px solid var(--color-gold);
    border-bottom: 1px solid var(--color-gold);
    outline: none;
}

.faq_list_item:last-child{
    border-bottom: 1px solid #CACACA;
}