.header{
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.header .container{
    padding-top: 15px;
    padding-bottom: 15px; 

    display:flex;
    justify-content: space-between;
}

.burger{
    display: none;
    height: 23px;
    width: 30px;
    border: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/Burger.svg');
}

.logo{
    width: auto;
}

.nav{
    margin-right: 85px;
    margin-left:auto;

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    color: var(--color-grey);
    align-self:center;
}

.nav_list{
    display:flex;
    justify-content: space-between;
}

.nav_item:not(:last-child){
    margin-right: 84px;
}

.nav_item_link:hover{
    border-bottom: 2px solid var(--color-gold);
}

.nav_item_link:focus{
    outline: 2px solid var(--color-gold);
}

.nav_item_link:active{
    border-bottom: 2px solid var(--color-active); 
    color: var(--color-active); 
    outline:none;
}

.search_link{
    display: block;
    align-self:center;
    width: 24px;
    height: 24px;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/Search.svg');
}

.search_link:hover{
    background-image: url('../img/search-hover.svg');
}

.search_link:focus{
    outline: 2px solid var(--color-gold);
}