:root{
  --color-gold: #FF9900;
  --color-active: #E1670E;
  --color-white: #ffffff;
  --color-grey: #333333;
}

@font-face {
    font-weight: 300;   /* Устанавливает вес шрифта при котором он будет вызываться */
    font-style: normal;   /* Определяет начертание шрифта — обычное, курсивное или наклонное */
    font-family: "Montserrat";  /* Устанавливает к какому семейству шрифтов принадлежит шрифт */
    font-display: swap;  /* определяет то, как шрифт будет отображаться в зависимости от того, загрузился ли он и готов ли к использованию */
    src:  
      local("Montserrat Light"),  /* Проверяет установлен ли шрифт на устройстве у пользователя*/
      url('../fonts/Montserrat-Light.woff2') format('woff2'),  /* Ссылка на источник для скачивания шрифта браузером */
      url('../fonts/Montserrat-Light.woff') format('woff');  /* Ссылка на случай если woff2 не поддерживается браузером */
  }

  @font-face {
    font-weight: 400;  
    font-style: normal; 
    font-family: "Montserrat";  
    font-display: swap;  
    src:  
      local("Montserrat"),  
      url('../fonts/Montserrat-Regular.woff') format('woff2'),  
      url('../fonts/Montserrat-Regular.woff') format('woff');  
  }

  @font-face {
    font-weight: 500;  
    font-style: normal; 
    font-family: "Montserrat";  
    font-display: swap;  
    src:  
      local("Montserrat Medium"),  
      url('../fonts/Montserrat-Medium.woff2') format('woff2'),  
      url('../fonts/Montserrat-Medium.woff') format('woff');  
  }

  @font-face {
    font-weight: 700;  
    font-style: normal; 
    font-family: "Montserrat";  
    font-display: swap;  
    src:  
      local("Montserrat Bold"),  
      url('../fonts/Montserrat-Bold.woff2') format('woff2'),  
      url('../fonts/Montserrat-Bold.woff') format('woff');  
  }

  @font-face {
    font-weight: 800;  
    font-style: normal; 
    font-family: "Montserrat";  
    font-display: swap;  
    src:  
      local("Montserrat ExtraBold"),  
      url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),  
      url('../fonts/Montserrat-ExtraBold.woff') format('woff');  
  }
  
html {
    box-sizing: border-box; 
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;  
  }
  
  body {
    min-width: 320px;
    margin: 0;
  
    background-color: #ffffff;  
    font-family: "Montserrat", sans-serif;  
    
    font-size: 16px;  
    color: var(--color-grey);
    line-height: 1; 
  }

  .container{
    max-width: 1770px;
    margin-right: auto;
    margin-left: auto;
  }
  
  button{
    font-weight: 800;
    cursor: pointer;
    transition: 200ms ease-in-out;
  }
  
  button, input {
    font: inherit; 
  }
  
  a {
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
  }
  
  ul, nav{
    list-style: none; 
    padding: 0;
    margin: 0; 
  }
  
  h1, h2, h3, p {
    padding: 0; 
    margin: 0;
  }

  p{
    line-height: 32px;
  }

  img {
    max-width: 100%; 
    width: 100%;  
    height: auto; 
  }
  
  /* container */
  
  .visually-hidden {
    position: absolute !important; 
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px); 
    padding: 0 !important; 
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; 
  }
  
  /* при работе с float */
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both; 
  }

  .title{
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
  }

  .link{
    padding: 19px 38px;
    border: 1px solid var(--color-gold);
  }